@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}
.ho{
  display: flex;
  justify-content: space-between;

}
.hovo {
  /* Original text color */
 
    /* Outline color */
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #6AD4DA;
    
    /* Text color (transparent) */
    color: transparent;
    
    /* Other styles */
    
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  
  
}
.hpo{
  display: flex;
  gap: 5px;
}


.ph{
  font-size: 46px;
 
}
.ph3{
  font-size: 46px;

}
.ph2{
  font-size: 15px;
}
.cardo{
  width: 285.581px;
  height: 394.607px;
  clip-path: polygon(0 100%, 100% 100%, calc(100% - 6px) 0, 6px 0);
}


.hp{
  font-size: 10px;
}
@media screen and (max-width:1440px){
  .cardo{
    height: 400px;
  width: 22%
  }
  
}
@media screen and (max-width:1025px){
  .hp{
    font-size: 7px;
  }
  .ph2{
    font-size: 12px;
  }
  .hpo{
    display: flex;
    gap: 4px;
  }
  }
@media screen and (max-width:769px){
  .cardo{
    width: 285.581px;
  
  }
  .hp{
    font-size: 13px;
  }
  .ph3{
    font-size: 32px;
  }
  .hpo{
    display: flex;
    gap: 3px;
  }
  
  
  }

@media screen and (max-width:514px){
.ph{
  font-size: 32px;

}  
.ho{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hp{
  font-size: 10px;
}
.ph2{
  font-size: 12px;
}
.cardo{
  width: 285.581px;
  margin-left: 40px;
}
.ph3{
  font-size: 20px;
  text-align: center;

}

}
@media screen and (max-width:490px){
  .ph{
    font-size: 28px;
  
  }  
  .ph2{
    font-size: 10px;
  

  }
  .hp{
    font-size: 11px;
  }
  .ph3{
    font-size: 25px;
  }
  }
  @media screen and (max-width:376px){
  .ph3{
    margin-left: -10px;

  }
   
   
    
    }
  @media screen and (max-width:321px){
    .ph2{
      font-size: 8px;
    }
    .hp{
      font-size: 9px;
    }
    .ph3{
      margin-left: -20px;
    }
   
   
    
    }
  
